<header>
    <nav class="header-nav">
        <a class="header-title" href="/">MyRecipe</a>
        <ul>
            <li><a href="/categories">Category</a></li>
            <li><a href="/categories/new">Add Category</a></li>
            <li><a href="/recipes">Recipes</a></li>
            <li><a href="/recipes/new">Add Recipe</a></li>
        </ul>
    </nav>
</header>