<% recipeImageClass = locals.large ? 'recipe-image-large' : '' %> 
<% recipeGridClass = locals.large ? 'recipe-grid-large' : ''  %> 
<div class="recipe-grid <%= recipeGridClass %>">
    <% recipes.forEach(recipe => { %> 
        <a href="/recipes/<%= recipe.id %>">
            <img class="recipe-image <%= recipeImageClass %>" src="<%= recipe.imagePath %> ">
        </a>   
    <% }) %>
</div>
  